@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

p, a, div, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Arial, sans-serif;
}

h1.title {
    text-align: center;
}

.center {
    text-align: center;
    align-self: center;
    align-content: center;
}

div#challenge-text {
    max-width: 35%;
    margin: 0 auto;
}

p.challenge-text {
    font-family: 'Roboto Mono', monospace;
    text-align: left;
}